@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*cabeçalho*/
#cabecalho{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.302);
}

#cabecalho img{
    width: 100px;
    height: 90px;
    padding: 10px;
    display: flex;
    margin: 0px auto;
}

/*menu de navegação*/
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b7262d;   
    padding: 15px;
}

#menu ul {
    background-color: #b7262d;
    list-style:none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#menu ul li { 
    display: inline;

}

#menu ul li a {
    background-color: #b7262d;
    color: #ffffff;
    text-decoration: none;
    padding: 18px;
}

/*sobre nós*/
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/*rodapé*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b7262d;
    position: fixed;
    bottom:0;
    left:0;
    width: 97.1%;
    padding: 20px;
    color: #ffffff;
}

footer a{
    color: #ffffff;
}

/*formulário*/
form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 60px;
}

fieldset{
    padding: 10px;
}

fieldset p{
    padding: 10px;
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 50px auto;
}

/*tabela*/
#table{
    padding: 30px;
}

#tabela{
    border: 1px solid black;
    border-spacing: -1px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

#tabela caption{
    margin-bottom: 10px;
} 

.colunatabela{
    background-color: rgb(167, 37, 37);
    color: #ffffff;
}

#tabela td{
    border: 1px solid black;
    padding: 5px;
}

.voltar {
    color: #b7262d;
    text-decoration: #b7262d;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-width: 768px){
    #menu{
        float: left;
        height: 110%;
        align-items: flex-start;
    }

    #menu ul{
        display: flex;
        max-width: 109px;
        justify-content: start;
        flex-direction: column;
    }

    #menu ul li{
        display: flex;
    }
}